[submodule "pixels_work01"]
	path = pixels_work01
	url = git@github.com:gracecuenca/pixels.git
[submodule "line_work02"]
	path = line_work02
	url = git@github.com:gracecuenca/line.git
[submodule "matrix_work03"]
	path = matrix_work03
	url = git@github.com:gracecuenca/matrix.git
[submodule "transformers_work04"]
	path = transformers_work04
	url = https://github.com/gracecuenca/transformers.git
[submodule "curvey_work05"]
	path = curvey_work05
	url = https://github.com/gracecuenca/curvey.git
[submodule "third_dimension_work06"]
	path = third_dimension_work06
	url = git@github.com:gracecuenca/third_dimension.git
